.title {
    font-size: 24px;
    color: #14adbd;
    font-weight: 700;
    margin: 10px 0;
}

.titleDone {
    color: black;
}

.tasks {
    display: flex;
    flex-direction: column;

    .task {
        margin-top: 10px;
        display: flex;
        flex-direction: row;




        .taskname {
            flex: 1;
            max-width: 90%;
            color: #1f8b97;
            font-weight: 500;

        }

        .tasknameDone {
            flex: 1;
            color: grey;
            text-decoration: line-through;
        }

        input {
            margin-right: 10px;
            flex: 0 0 3%;
            ;

        }

        button {
            margin-left: 10px;

        }
    }
}